name: CI - Migrations

on:
  push:
    branches: [ main ]

jobs:
  apply-migrations:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Run migrator container
        run: |
          docker compose -f docker-compose.yml up --no-start postgres
          docker compose -f docker-compose.yml up migrator
